In [2]:
birth_year='1985'
birth_date='0502'
year_and_date = birth_year + birth_date

print("year_and_date : {}".format(year_and_date))

year_and_date : 19850502

In [3]:
print('Hello World')

Hello World

In [4]:
# print() 함수는 괄호안에 있는 내용을 출력하는 역할
print('Hello World')
print('Hello World')
print('Hello World')

Hello World
Hello World
Hello World

In [5]:
# 변수의 선언은 변수의 이름 = 값 형태로 이루어짐

identity = '김가은'

print('안녕 나는','김가은','이야')
print('안녕 나는', identity ,'이야')

안녕 나는 김가은 이야
안녕 나는 김가은 이야

In [6]:
print('여러줄의 주석은')
'''
안녕
안녕
내가 보이니
안보일걸
'''
print('따옴표 세개로 감싼다.')

여러줄의 주석은
따옴표 세개로 감싼다.

In [7]:
my_name = '김가은'
my_age = 22 #숫자

print(my_name, '은 이제', my_age, '살')

my_next_age = my_age + 1

print('내년에는', my_next_age, '살')

multiply = 9 * 9 
divide = 30 / 5 
power = 2 ** 10
reminder = 15 % 4

print(multiply, divide, power, reminder)

김가은 은 이제 22 살
내년에는 23 살
81 6.0 1024 3

In [8]:
# 문자열 더하기, 숫자열 더하기

text = '2015' + '1991'
number = 2015 + 1991

print(text)
print(number)

20151991
4006